{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static '\style.css' %}" />
    <title>WebDataRocks Example</title>
    <link
      href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
    <div id="container">
      {% include "topMenu.html" %}
      <div id="demo-container">
        <div id="pivot-container"></div>
      </div>
    </div>

    <script>
      const pivot = new WebDataRocks({
        container: "pivot-container",
        toolbar: true,
        width: "100%",
        height: 550,
        report: {
          dataSource: {
            dataSourceType: "csv",
            filename: "https://cdn.webdatarocks.com/data/data.csv",
          },
          slice: {
            rows: [
              {
                uniqueName: "Category",
              },
            ],
            columns: [
              {
                uniqueName: "Country",
              },
              {
                uniqueName: "Measures",
              },
            ],
            measures: [
              {
                uniqueName: "Price",
                aggregation: "sum",
                format: "currency",
              },
              {
                uniqueName: "Discount",
                aggregation: "sum",
                active: false,
                format: "currency",
              },
            ],
          },
        },
      });
    </script>
  </body>
</html>
